/* alice-regular - latin */
@font-face {
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alice-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/alice-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alice-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alice-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/alice-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alice-v20-latin-regular.svg#Alice') format('svg'); /* Legacy iOS */
  }

html {
    box-sizing: border-box;
}
* , *::after, *::before {
    box-sizing: inherit;
}
body {
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000;
}

/* Header styles start */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}
.wrapper__header_log-link {
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    color: #2949F0;
    text-decoration: none;
}
.wrapper__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.header__navigation_list {
    display: flex;
    flex-wrap: wrap;
}
.navigation__item {
    margin-right: 40px;
}
.header_item:last-child {
    margin-right: 0 ;
}
.header_link {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000;
    text-decoration: none;
}

/* Header styles end */

/* Maine styles start */
.name_article {
    margin-top: 131px;
    font-weight: 400;
    font-size: 35px;
    line-height: 80%;
    text-align: center;
    color: #000;
}
.image {
    width: 100% !important;
    height: 546px !important;
}
.text_vangog {
    margin-top: 100px;
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.paints {
    max-width: 1020px;
    margin: 0 auto;   
}

.name_istory {
    margin-top: 46px;
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 115.1%;
    color: #000000;
}
h4 {
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 115.1%;
    color: #000000;
}
.text_pains {
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.item_pains_history {
    display: flex;
    float: left;
    position: relative;
    width: 33.3%;
   
}

/* Main styles end */



/* .item_pains_history {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 33%;
    box-sizing: border-box;
    margin-right: 10px;
} */
